body {
	background-image: url(https://pixiv.cat/91953765.jpg);
	background-repeat: no-repeat;
	background-size: cover
}

.Main {
	background-color: lightgray;
	opacity: 0.6;
	margin: 10%;
	border-radius: 20px
}

.title {
	font-size: 30px
}

.MainContent {
	margin: 4%
}

.Pixiv {
	margin: 10%
        background-color: lightgray;
	opacity: 0.6;
}

.pixcontent {
	margin: 4%
}

.pixlogo {
	margin: 5%
}

.pixdetails {
	font-color: gray;
	font-size: small
}
