body {
background-image:url(https://pixiv.cat/91953765.jpg);
background-repeat:no-repeat;
background-size:cover
}
.Main {
background-color:lightgray;
opacity:0.6;
margin:10%;
border-radius:20px
}
.title {
font-size:30px
}
.MainContent {
margin:4%
}
